{% extends 'base.html.twig' %}

{% block title %}MaderaModule index{% endblock %}

{% block body %}
    <h1>MaderaModule index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom module</th>
                <th>Prix ht module</th>
                <th>Nb composant module</th>
                <th>Gamme module</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for madera_module in madera_modules %}
            <tr>
                <td>{{ madera_module.nomModule }}</td>
                <td>{{ madera_module.prixHtModule }}</td>
                <td>{{ madera_module.quantiteRestanteModule }}</td>
                <td>{{ madera_module.nbComposantModule }}</td>
                <td>{{ madera_module.gammeModule }}</td>
                <td>
                    <a href="{{ path('madera_module_show', {'id': madera_module.id}) }}">show</a>
                    <a href="{{ path('madera_module_edit', {'id': madera_module.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('madera_module_new') }}">Create new</a>
{% endblock %}
