{% extends 'base.html.twig' %}

{% block title %}MaderaModule{% endblock %}

{% block body %}
    <div class="container mt-5" margin-top="15dp">
        <h1><span class="label label-default">Module</span></h1>
        <table class="table">
            <tbody>
                <tr>
                    <th>Nom module</th>
                    <td>{{ madera_module.nomModule }}</td>
                </tr>
                <tr>
                    <th>Prix ht module</th>
                    <td>{{ madera_module.prixHtModule }}</td>
                </tr>
                <tr>
                    <th>Quantite restante module</th>
                    <td>{{ madera_module.quantiteRestanteModule }}</td>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-success" href="{{ path('madera_module_index') }}">back to list</a>

        <a class="btn btn-success" href="{{ path('madera_module_edit', {'id': madera_module.id}) }}">edit</a> 
        {{ include('madera_module/_delete_form.html.twig') }} 
    </div>

    

    
{% endblock %}
