{% extends 'base.html.twig' %}

{% block title %}Devis{% endblock %}

{% block body %}

            
    <div class="container text-center mt-3 mb-3">
            <button onclick="printDiv('devis')">Impression devis</button>
        </div>
        <div id="devis">
            <div class="container">
                <div class="row">
                    <div class="col-md-auto mt-4">
                        <img src = "http://madera-construction.fr/images/site/logo.png" alt="Madera LOGO" width = "50%">
                    </div>
                </div>  
                
                <div class="container-fluid">
                    <div class="row">
                        <!-- Adresse entreprise a gauche --> 
                        <div class="col lg-3">
                            <div class="card" style="width: 22rem;">
                                <div class="card-body">
                                    <p class="card-text"> MADERA </p>
                                    <p class="card-text"> Rue Enzo Ferrari </p>
                                    <p class="card-text"> 85000 La Roche sur Yon </p>
                                    <p class="card-text"> 02 51 98 18 32 </p>
                                    <p class="card-text"> contact@madera-construction.com </p>
                                </div>
                            </div>
                        </div>
                    
                    
                        <div class="col lg-6"></div>
                        <!-- Adresse client -->
                        <div class="col lg-3"> 
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Adresse client</h5>
                                    <p class="card-text">{{ client.getNomClient() }} </p>
                                    <p class="card-text">{{ client.getAdresseClient() }} </p>
                                    <p class="card-text">{{ client.getTelephoneClient() }} </p>
                                    <p class="card-text">{{ client.getEmailClient() }} </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>  

                
                    <!-- Nom du projet / plan  -->
                    <div class="container mt-5">
                        <h3 class="text-center"> Devis : {{ devis.getCodeDevis() }} </h3>
                        <h3 class="text-center"> Plan : {{ plan.getId() }} </h3>
                        <h3 class="text-center"> Projet : {{ projet.getNomProjet() }} </h3>
                    </div>

                    <div class="container">
                    <!-- Affichage sol / coupe / toit -->
                    <table class="table mt-5 table-sm">
                        <thead class="" style="background-color: #28a745!important; color: black;">
                            <tr>
                                <th>Items</th>
                                <th>Descriptif</th>
                                <th>Prix unitaire HT €</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border border-success"> Coupe : {{ coupe.getNomCoupe() }}</td>
                                <td class="border border-success">L {{ coupe.getLongueurCoupe() }} * l {{ coupe.getLargeurCoupe() }}</td>
                                <td class="border border-success"></td> 
                            </tr>
                            <tr>
                                <td class="border border-success">Sol : {{ plan.getMaderaSol().getNomSol() }}</td>
                                <td class="border border-success"></td>
                                <td class="border border-success">{{ plan.getMaderaSol().getPrixHtSol() }}</td>
                            </tr>
                            <tr>
                                <td class="border border-success">Toit : {{ plan.getMaderaToit().getNomToit() }}</td>
                                <td class="border border-success"></td>
                                <td class="border border-success">{{ plan.getMaderaToit().getPrixHtToit() }}</td>
                            </tr>
                            {% for madera_module in modules %}
                                <tr>
                                    <td class="border border-success">{{ madera_module.nom_module }}</td>
                                    <td class="border border-success">Gamme : {{ madera_module.gamme }}</td>
                                    <td class="border border-success">{{ madera_module.prix_ht_module }}</td>
                                </tr>
                            {% endfor %}
        
                            <!-- Liste des modules + prix  -->

                            
                            
                        </tbody>
                    </table>
                </div>
                    <!-- Sommes + prix  -->
                <div class="container">
                    <div class="row">
                        <div class="col lg-3"></div>
                        <div class="col lg-6"></div>
                        <div class="col lg-3">
                            <div class="card text-white bg-success" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">TOTAL HT</h5>
                                    <p class="card-text"> XXX € </p>

                                    <h5 class="card-title">TAXES</h5>
                                    <p class="card-text"> XXX €</p>
                                    
                                    <h5 class="card-title">TOTAL TTC</h5>
                                    <p class="card-text"> XXX € </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container text-left mt-5 font-italic">
                    Devis gratuit </br>
                    Les prix TTC sont établis sur la base de TVA en vigueur a la date de remise de l'offre.</br>
                    Devis valable durant 30 jours apres sont éditions. </br>
                </div>
            </div>  
        </div>
{% endblock %}
