{% extends "base.html.twig" %}
{% block stylesheets %} 
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/components/scrollspy/">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">  
{% endblock %}
{% block body %} 

    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
        <div class="row">
                <h4 class="highlighter-rouge">Clients <button type="button" class="btn btn-success" onclick="document.location.href='/madera/client/new';">Nouveau client</button></h4> 
        </div>
    </main>

    <div class="container-fluid">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Code client</th>
                <th scope="col">Projets</th>
                <th scope="col">Informations</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                
                {% for c in clients %}
                    <tr>
                    <th scope="row">{{ c.getId() }}</th>
                    <th>{{ c.getNomClient() }}</th>
                    <th>{{ c.getCodeClient() }}</th>
                    <td><button type="button" class="btn btn-success" onclick="document.location.href='{{ "/madera/projet/"}}';">Projets</button></td>
                    <td><button type="button" class="btn btn-success" onclick="document.location.href='{{ "/madera/client/" ~ c.id }}';" >Informations</button></td>
                    <td><a href="{{ path('madera_client_delete', {'id': c.id}) }}">Supprimer</a></td>
                    </tr>
                {% endfor %}


            </tbody>
        </table>
    </div>

{% endblock %}
{% block javascripts %}{% endblock %}