{% extends 'base.html.twig' %}

{% block title %}MaderaPlan index{% endblock %}

{% block body %}
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
        <div class="row">
                <h4 class="highlighter-rouge">Plans <a class="btn btn-success" href="{{ path('madera_plan_new', {'id': projet_id}) }}">Nouveau plan</a></h4> 
        </div>
    </main>

    <div class="container-fluid">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Largeur plan</th>
                    <th>Longueur plan</th>
                    <th>Prix total ht plan</th>
                    <th>Prix total ttc plan</th>
                    <th>Etat devis</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for madera_plan in madera_plans %}
                <tr>
                    <td>{{ madera_plan.plan.largeurPlan }}</td>
                    <td>{{ madera_plan.plan.longueurPlan }}</td>
                    {% for devis in madera_plan.devis %}
                        <td>{{ devis.montantHtDevis }} €</td>
                        <td>{{ devis.montantTtcDevis }} €</td>
                        <td>
                            {% if(devis.getDateValidation() != null) %}
                                Accepté
                            {% else %}
                                <a class="btn btn-success" href="{{ path('madera_devis_show', {'id': devis.getId(), 'idPlan' : madera_plan.plan.id}) }}">En attente</a>
                            {% endif %}
                            {{ devis.getDateValidation() }}
                        </td>
                    {% else %}
                        <td>{{ madera_plan.plan.prixTotalHtPlan }}</td>
                        <td>{{ madera_plan.plan.prixTotalTtcPlan }}</td>
                        <td><a class="btn btn-success" href="{{ path('madera_devis_new', {'id': madera_plan.plan.id, 'idProjet' : projet_id}) }}">généré le devis</a></td>
                    {% endfor %}
                    <td>
                        <a class="btn btn-success" href="{{ path('madera_plan_show', {'id': madera_plan.plan.id, 'idProjet' : projet_id}) }}">show</a>
                        <a class="btn btn-success" href="{{ path('madera_plan_edit', {'id': madera_plan.plan.id, 'idProjet': projet_id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
