{% extends 'base.html.twig' %}

{% block title %}MaderaPlan index{% endblock %}

{% block body %}
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
        <div class="row">
                <h4 class="highlighter-rouge">Plans <a class="btn btn-success" href="{{ path('madera_plan_new', {'id': projet_id}) }}">Nouveau plan</a></h4> 
        </div>
    </main>

    <div class="container-fluid">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Date creation</th>
                    <th>Date derniere modification</th>
                    <th>Largeur plan</th>
                    <th>Longueur plan</th>
                    <th>Prix total ht plan</th>
                    <th>Prix total ttc plan</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for madera_plan in madera_plans %}
                <tr>
                    <td>{{ madera_plan.id }}</td>
                    <td>{{ madera_plan.dateCreation ? madera_plan.dateCreation|date('Y-m-d') : '' }}</td>
                    <td>{{ madera_plan.dateDerniereModification ? madera_plan.dateDerniereModification|date('Y-m-d') : '' }}</td>
                    <td>{{ madera_plan.largeurPlan }}</td>
                    <td>{{ madera_plan.longueurPlan }}</td>
                    <td>{{ madera_plan.prixTotalHtPlan }}</td>
                    <td>{{ madera_plan.prixTotalTtcPlan }}</td>
                    <td>
                        <a class="btn btn-success" href="{{ path('madera_plan_show', {'id': madera_plan.id}) }}">show</a>
                        <a class="btn btn-success" href="{{ path('madera_plan_edit', {'id': madera_plan.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
