{% extends 'base.html.twig' %}

{% block title %}MaderaPlan{% endblock %}

{% block body %}
    <h1>Plan</h1>

    <table class="table">
        <tbody>
           <tr>
                <th>Largeur plan</th>
                <td>{{ madera_plan.largeurPlan }}</td>
            </tr>
            <tr>
                <th>Longueur plan</th>
                <td>{{ madera_plan.longueurPlan }}</td>
            </tr>
            <tr>
                <th>Prix total ht plan</th>
                <td>{{ madera_plan.prixTotalHtPlan }}</td>
            </tr>
            <tr>
                <th>Prix total ttc plan</th>
                <td>{{ madera_plan.prixTotalTtcPlan }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('madera_plan_index') }}">back to list</a>

    <a class="btn btn-success" href="{{ path('madera_plan_edit', {'id': madera_plan.id}) }}">edit</a>

    {{ include('madera_plan/_delete_form.html.twig') }}
{% endblock %}
