{% extends 'base.html.twig' %}

{% block title %}MaderaProjet index{% endblock %}

{% block body %}
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
        <div class="row">
                <h4 class="highlighter-rouge">Projet <button type="button" class="btn btn-success" onclick="document.location.href='/madera/projet/new';">Nouveau projet</button></h4> 
        </div>
    </main>

    <div class="container-fluid">
        <table class="table">
            <thead  class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Projet</th>
                    <th>Client</th>
                    <th>Date creation</th>
                    <th>Date modification</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for madera_projet in madera_projets %}
                <tr>
                    <td>{{ madera_projet.id }}</td>
                    <td>{{ madera_projet.nomProjet }}</td>
                    <td>{{ madera_projet.maderaClient }}</td>
                    <td>{{ madera_projet.dateCreationProjet ? madera_projet.dateCreationProjet|date('Y-m-d') : '' }}</td>
                    <td>{{ madera_projet.dateModificationProjet ? madera_projet.dateModificationProjet|date('Y-m-d') : '' }}</td>
                    <td>
                        <a class="btn btn-success" href="{{ path('madera_plan_projet', {'projetId': madera_projet.id}) }}">plans</a>
                        <a class="btn btn-success" href="{{ path('madera_projet_show', {'id': madera_projet.id}) }}">show</a>
                        <a class="btn btn-success" href="{{ path('madera_projet_edit', {'id': madera_projet.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
